<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
   
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">



  <link rel="stylesheet" type="text/css" href="/styles/home.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row row1">
       <div class="col-lg-12"> 
        <nav class="navbar fixed-top navbar-dark bg-dark">
          <a href="/home"><i class="fa fa-video-camera  navbar-brand" style="font-size:42px"  aria-hidden="true"></i></a>>
          <ul class="navbar-nav mr-auto">
            <li><a href="/history" class="nav-link">History</a></li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li><a href="#" class="nav-link" id="logout">Logout</a></li>
          </ul>
        </nav>
      </div>
     </div>
    <div class="row row2">
     <div class="col-lg-12">
       <input type="text" placeholder="Search movie..." name="title" class="form-control sbar" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">      
      </div>
  </div>

  <div class="row row2misi">
    <div class="col-lg-12">
      <h1 class="tab">FAVORITES</h1>
      <hr></hr>
    </div>
  </div>

  <div class="row row3">
    <div class="col-lg-12">
      <div class="card-deck">
        
        <div class="card" id=<%=data[0].id %>>
          <img class="card-img-top" src=<%= data[0].image_ref %> alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%=data[0].title%></h5>
            <h6 class="card-subtitle">Downloads: <%=data[0].downloads%></h6>
          </div>
        </div>

        <div class="card" id=<%=data[1].id %>>
          <img class="card-img-top" src=<%= data[1].image_ref %> alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%=data[1].title%></h5>
            <h6 class="card-subtitle">Downloads: <%=data[1].downloads%></h6>
          </div>
        </div>

         <div class="card" id= <%=data[2].id %>>
          <img class="card-img-top" src=<%= data[2].image_ref %> alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%=data[2].title%></h5>
            <h6 class="card-subtitle">Downloads: <%=data[2].downloads%></h6>
          </div>
        </div>
      
        <div class="card" id=<%=data[3].id %>>
          <img class="card-img-top" src=<%= data[3].image_ref %> alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%=data[3].title%></h5>
            <h6 class="card-subtitle">Downloads: <%=data[3].downloads%></h6>
          </div>
        </div>

        <div class="card" id=<%=data[4 ].id %>>
          <img class="card-img-top" src=<%= data[4].image_ref %> alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%=data[4].title%></h5>
            <h6 class="card-subtitle">Downloads: <%=data[4].downloads%></h6>
          </div>
        </div>


      </div>
    </div>
  </div>



   
  </div>
       <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>

    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/mdb.min.js"></script>


<script type="text/javascript" src="/scripts/home.js"></script>
</body>
</html>