<!DOCTYPE html>
<html>
<head>
	<title>Movie</title>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/styles/searched_movie.css"> 
</head>
<body>
<div class="container-fluid">
   <div class="row row1">
    <div class="col-lg-12"> 
     <nav class="navbar fixed-top navbar-dark bg-dark">
       <a  href="/home"><i class="fa fa-video-camera navbar-brand fa-3x "  aria-hidden="true"></i></a>
       <ul class="navbar-nav mr-auto">
         <li><a href="/history" class="nav-link">History</a></li>
       </ul>
       <ul class="navbar-nav ml-auto">
         <li><a href="#" class="nav-link" id="logout">Logout</a></li>
       </ul>
     </nav>
   </div>
  </div>
  
  
  <div class="row row2">
  	<div class="col-lg-4">
  		<img id="large" src=<%=data.image_ref %>>
  		<div><a href="#"><button type="button" class="btn btn-success">Download</button></a></div>
  	</div>
  	<div class="col-lg-4">
  		<ul>
  			<li><h1><%= data.title %></h1></li>
  			<li><h5 id="y"><%= data.year %></h5></li>
  			<li><h5 id="g">[
        <% for(var i=0; i<data.genres.length-1; i++){ %>
        <%= data.genres[i]+"," %>   
        <% } %>
        <%= data.genres[data.genres.length-1] %>
        ]</h5></li>
  			<li id="r">Rating: <%= data.rating %></li>
  			<li id="d">Downloads: <%=data.downloads %></li>
  			<li><%=data.description%></li>
  		</ul>
  	</div>

  	<div class="col-lg-4">
  		<span><h1 class="similar">Similar movies</h1></span>
  		<table>
  			<tr>
  				<td><img class="small small1" src=<%=sug_data[0].image_ref%>></a></td>
  				<td><img class="small small2" src=<%=sug_data[1].image_ref%>></td>
  			</tr>
  			<tr>
  				<td><img class="small small3" src=<%=sug_data[2].image_ref%>></td>
  				<td><img class="small small4" src=<%=sug_data[3].image_ref%>></td>
  			</tr>
  		</table>
  	</div>

  </div>

<img id="back" style="display: none" src=<%=data.background %>>

<form id="hiddenform">
  <input name="id" value=<%=data.id %>>
</form>

<form id="hiddenform2">
  <input id="id1" value=<%=sug_data[0].id %>>
  <input id="id2" value=<%=sug_data[1].id %>>
  <input id="id3" value=<%=sug_data[2].id %>>
  <input id="id4" value=<%=sug_data[3].id %>>
</form>

<script type="text/javascript" src="/scripts/searched_movie.js"></script>
</body>
</html>